/* @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap'); */

body {
    overflow: hidden;
    margin: 10;
    padding: 10;
    width: 100vw;
    height: 100vh;
}

canvas {
    /* background-color: #333333; */
    border: 1px solid black;
}